<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :objective %>
    <%= f.text_field :objective %>
  </div>

  <div>
    <% f.fields_for :tasks do |detail| %>
        <%= render 'task_fields', f: detail %>
    <% end %>
  </div>

  <div>
    <%= link_to_add_association 'add_detail', f, :tasks %>
  </div>

    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
